body{
  margin:0;
  background:#2cb5e8;

}
nav{
  padding: 0.5em;
  display: grid;
  grid-template-columns: 45% 50% 5%;
  grid-template-rows: 120px;
  background: #fff;
}
.left-pane{
  grid-column-start: 1;
  grid-column-end: 2;
}
.right-pane{
  position: relative;
  grid-column-start: 3;
  grid-column-end: 4;
}

.hamburger{
  background: #2cb5e8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40px;
  height: 4px;
  transition: .5s;

}
.hamburger::after{
  position: absolute;
  top: 10px;
  width: 40px;
  height: 4px;
  content: '';
  background: #2cb5e8;
    transition: .5s;

}
.hamburger::before{
  position: absolute;
  top: -10px;
  width: 40px;
  height: 4px;
  content: '';
  background: #2cb5e8;
    transition: .5s;
}
.wrapper{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-row-gap: 20px;

}
.para1{

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.content1{
  margin-left: 120px;
  width:1000px;
  height: 500px;
  padding:5em;
}
.may-the{
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  text-align: center;
  position: relative;
  font-family: "TeX Gyre Adventor",sans-serif;
  font-weight: 600;
  line-height: 0.9;
  max-width: 61.5rem;
  margin-top: 120px;
  font-size: 100px;
  color: #fff;
}
.computing-society{
  position: relative;
  margin-top: -80px;
  font-family: "TeX Gyre Adventor",sans-serif;
  color: #fff;
  font-size: 25px;
  padding-left: 100px;
  padding-right: 100px;
}
.para2{
display: grid;
grid-template-columns: 40% 50%;
grid-template-rows: auto;
}
.content2-1{
  padding:2em;
  grid-column-start: 1;
  grid-column-end: 2;
}
.content2-2{
  padding:2em;
  grid-column-start: 2;
  grid-column-end: 3;
}
.our-work{
  position: relative;
  font-family: "TeX Gyre Adventor",sans-serif;
  color: #fff;
  font-size: 40px;
}
.our-work-description{
  position: relative;
  top: -40px;
  font-family: "TeX Gyre Adventor",sans-serif;
  color: #fff;
  font-size: 60px;
  line-height: 0.99;
}
.no-politics{
  text-align: center;
  position: relative;
  font-family: "TeX Gyre Adventor",sans-serif;
  font-weight:1000;
  letter-spacing:-0.08em;
  line-height: 0.9;
  max-width: 61.5rem;
  margin-left: 225px;
  margin-top: 150px;
  padding-bottom: 300px;
  font-size: 70px;
  color: #1e7ea2;

}


@font-face {
    font-family: 'TeX Gyre Adventor';
    src: url('http://www.1001fonts.com/itc-avant-garde-gothic+bold-fonts.html');
    font-weight: bold;
    font-style: normal;
}

@import "material-components-web";
